body {
  text-align: center;
  width: 99%;
  background-color: #CFD8DC;
  font-family: 'Roboto', sans-serif;
  font-weight: 300
}

h1 {
  margin: 3px;
}

h3 {
  margin-top: 7px;
}

#top-bar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#search-box {
  margin: 0 10px;
}

#submit-btn {
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #311B92;
  border-radius: 3px;
  font-size: 10px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
}

#submit-btn:hover {
  cursor: pointer;
}

#event-btn {
  display: block;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #311B92;
  border-radius: 3px;
  font-size: 12px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
}

#event-btn:hover {
  cursor: pointer;
}

#track-area {
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  max-width: 1100px;
  max-height: 400px;
  justify-content: center;
  margin: 10px auto 2px auto;
  overflow-y: scroll;
}

.track-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin: 0 20px 10px 20px;
  width: 150px;
  min-height: 190px;
}

.track-container a {
  color: #673AB7
}

.track-container:hover {
  cursor: pointer;
  font-weight: 700;
}

#art {
  width: 100px;
  margin: 5px 0;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.5);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#art:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5)
}

#spotlink {
  font-size: 12px;
}

#event-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  max-height: 400px;
  max-width: 1100px;
  overflow-x: scroll;
  margin: 0 auto;
}

.event-container {
  width: 500px;
  border: 1px solid #CFD8DC;
  color: #EDE7F6;
  background-color: #673AB7;
  font-size: 14px;
  padding: 7px;
}

.event-container a {
  color: red;
  font-style: italic
}

#tix {
  color: black;
  margin-top: 5px;
}

#tix a {
  display: block;
  width: 120px;
  color: white;
  padding: 5px 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px auto;
  background-color: #311B92;
  border-radius: 2px;
  font-size: 12px;
}